
h2{
  color:red;

}

.IStyle
{
   color: orange;
  ;

}


#paraStyle{
  color:red;
  
}



  
#h2 title22
{
  border:6px solid purple;
}




#TABLE
{
  margin-left:630;
}



#TABLE2
{
  margin-left:565;
}


#PP
{
  color: white;
}

#HH55
{
  color: mediumpurple
}



#HH55
{
  margin-left:400;
}


#VID
{
  margin-left:470;
}





